<center>
<body>		
   <center><h1 class="h1style"> Welcome To HangMan!</h1>
    <h2 class= "h2style">Please enter your names<h2>
    <form action="player_names" method="post">
	<h3 class= "h3style">Player 1</h3>
	<input type= name="texts" name="player1">
	<h3 class= "h3style">Player 2</h3>
	<input type="text" name="player2">
		<br>
		<br>
	<input type="submit" value="Submit">
    	<br>
    	<br>
    	<br>
    <image source= ("http://img.borsen.dk/img/cms/tuksi4/uploads/gDebate.blog/fd2cd5de56192bdf1ca639bb4570828f_5908.gif")>
	</form>
</body>